# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/data/node_modules
/data/data.json

/dst
!/dst/_assets/js
!/dst/_assets/css

main

.env
# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

