<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <link rel="icon" href="{{ .BasePath }}/favicon.png" id='favicon'>
    <link rel="stylesheet" href="../_assets/css/style.css">
    <script src='../_assets/data/index.js' defer></script>
    <script src='../_assets/js/common.js' defer></script>
    <script src='../_assets/js/comics-top.js' defer></script>
</head>
<body>
    <div id='root'></div>	
</body>
</html>

